@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Instrument Serif", serif;
    line-height: 2;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro-image__text a {
    background-color: #857c7ca9;
    border: 2px solid #857c7c;
    color: #351d17;
    display: inline-block;
    font-size: 5rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    
}

.intro-image__text:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #ebd8b5;
    height: 30vh;
    margin-top: -5rem;
    text-align: center;
    padding-top: 5rem;
    clip-path: polygon(50% 7%, 100% 0, 100% 43%, 100% 100%, 61% 100%, 19% 100%, 0 100%, 0% 43%, 0 0);
}

.intro-text__textbox h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.text-solid {
    font-size: 1.5rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: top;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.packaging-image__text a {
    background-color: #857c7ca9;
    border: 2px solid #857c7c;
    color: #3b251f;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__text:hover {
    transform: scale(1.2);
}

.packaging-text {
    height: 350px;
    background-color: #91b49a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c1212;
    font-size: 1.5rem;
    padding: 0 15rem;
}

.heading-solid {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.packaging_text__textbox p {
    text-align: center;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: top;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color: #857c7ca9;
    border: 2px solid #857c7c;
    color: #3b251f;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-image__text:hover {
    transform: scale(1.2); 
}

.footer {
    background-color: #e7dcd1;
    color: #572c02;
    height: 200px;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;

}

.footer ul li {
    display: inline-block;
    margin: 1rem;

}

.footer ul li a {
    color: #572c02;
    text-decoration: none;

}

.footer ul li:hover, .footer ul li a:hover {
    color: #c78b63;
    transform: scale(1.2);
}